<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

      <div class="row w-100">

        <div class="col-md-4">
          <app-search></app-search>
        </div>
        <div class="col-md-5">
          <app-center-buttons class="w-100 d-flex justify-content-center"></app-center-buttons>
        </div>
        <div class="col-md-3">
          <app-end-buttons class="w-100 d-flex justify-content-center"></app-end-buttons>
        </div>

      </div>

    </div>
</nav>
