<ul class="nav gastro-end-buttons">
  <li class="nav-item">
    <a href="#" class="nav-link img">
      <img src="./assets/images/faces/face01.jpg" alt="">
      Wilson
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link"><i class="icofont icofont-plus icofont-1x"></i></a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link"><i class="icofont icofont-caret-down icofont-1x"></i></a>
  </li>
  <!--<li class="nav-item">-->
    <!--<a href="#" class="nav-link"><i class="icofont icofont-ui-user-group icofont-2x"></i></a>-->
  <!--</li>-->
</ul>
